services:

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: nextbot_web_dev
    env_file: .env.dev
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: nextbot_db_dev
    restart: unless-stopped
    env_file: .env.dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: nextbot_pgadmin_dev
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata_dev:
  static_volume:
  media_volume:
