services:
 
  web:
    build: .
    container_name: nextbot_prod
    env_file: .env
    
    command: >
      gunicorn nextbot.asgi:application
      -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8000
      --workers 4
      --log-level info

    ports:
      - "8000:8000"

    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextbot.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.nextbot.entrypoints=websecure"
      - "traefik.http.routers.nextbot.tls.certresolver=myresolver"
      - "traefik.http.services.nextbot.loadbalancer.server.port=8000"

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 30s
      timeout: 10s
      retries: 3

  bot:
    build: .
    container_name: telegram_bot_prod
    env_file: .env
    depends_on:
      web:
        condition: service_healthy
    command: python manage.py runbot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

  scheduler:
    build: .
    container_name: scheduler_prod
    env_file: .env    
    depends_on:
      web:
        condition: service_healthy
    command: >
      /bin/sh -c "
      echo 'Scheduler starting...';
      while true; do
        echo '[Scheduler] Running sync...';
        python manage.py sync_cars_with_element;
        echo '[Scheduler] Sleeping for 5 minutes...';
        sleep 300;
      done
      "
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

  traefik:
      image: traefik:latest
      container_name: traefik
      command:
        - --api.dashboard=true
        - --providers.docker=true

        - --entrypoints.web.address=:80
        - --entrypoints.websecure.address=:443

        - --certificatesresolvers.myresolver.acme.email=${LETSENCRYPT_EMAIL}
        - --certificatesresolvers.myresolver.acme.storage=/acme/acme.json
        - --certificatesresolvers.myresolver.acme.tlschallenge=true

      ports:
        - "8080:80"
        - "8443:443"

      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - ./traefik/acme:/acme
        - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro

      restart: unless-stopped


volumes:
  static_volume:
  media_volume:
  logs:
  local_secrets: