services:

  web:
    build: .
    container_name: nextbot_local
    env_file: .env
    
    command: >
      gunicorn nextbot.asgi:application
      -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8000
      --workers 4
      --log-level info

    ports:
      - "8000:8000"

    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 30s
      timeout: 10s
      retries: 3

  bot:
    build: .
    container_name: telegram_bot_local
    env_file: .env
    depends_on:
      web:
        condition: service_healthy
    command: python manage.py runbot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

  scheduler:
    build: .
    container_name: scheduler_local
    env_file: .env
    depends_on:
      web:
        condition: service_healthy
    command: >
      /bin/sh -c "
      echo 'Scheduler starting...';
      while true; do
        echo '[Scheduler] Running sync...';
        python manage.py sync_cars_with_element;
        echo '[Scheduler] Sleeping for 5 minutes...';
        sleep 300;
      done
      "
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

volumes:
  static_volume:
  media_volume:
  logs:
  local_secrets: