services:

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: nextbot_web_dev
    env_file: .env.dev
    command: >
      gunicorn nextbot.asgi:application
      -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8000
      --workers 4
      --log-level info
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 30s
      timeout: 10s
      retries: 5

  db:
    image: postgres:15
    container_name: nextbot_db_dev
    restart: unless-stopped
    env_file: .env.dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: nextbot_pgadmin_dev
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  bot:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: telegram_bot_dev
    env_file: .env
    depends_on:
      web:
        condition: service_healthy
    command: python manage.py runbot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

  scheduler:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    container_name: scheduler_dev
    env_file: .env
    depends_on:
      web:
        condition: service_healthy
    command: >
      /bin/sh -c "
      echo 'Scheduler starting...';
      while true; do
        echo '[Scheduler] Running sync...';
        python manage.py sync_cars_with_element;
        echo '[Scheduler] Sleeping for 5 minutes...';
        sleep 300;
      done
      "
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets

volumes:
  static_volume:
  media_volume:
  pgdata_dev:
  logs:
  local_secrets:
