services:

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    container_name: nextbot_web
    env_file: .env
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    container_name: nextbot_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: nextbot_certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt

volumes:
  static_volume:
  media_volume:
