services:

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    container_name: nextbot_web
    env_file: .env
    command: >
      gunicorn nextbot.asgi:application
      -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8000
      --workers 4
      --log-level info
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 30s
      timeout: 10s
      retries: 5
    
  nginx:
    image: nginx:1.27-alpine
    container_name: nextbot_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: nextbot_certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt

  bot:
    build:
      context: .
      dockerfile: docker/Dockerfile.bot
    container_name: telegram_bot_prod
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: nextbot.settings.prod
    depends_on:
      web:
        condition: service_healthy
    command: python manage.py runbot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets:ro
    

  scheduler:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    container_name: scheduler_prod
    env_file: .env
    environment:
      DJANGO_SETTINGS_MODULE: nextbot.settings.prod          
    depends_on:
      web:
        condition: service_healthy
    command: >
      /bin/sh -c "
      echo 'Scheduler starting...';
      while true; do
        echo '[Scheduler] Running sync...';
        python manage.py sync_cars_with_element;
        echo '[Scheduler] Sleeping for 5 minutes...';
        sleep 300;
      done
      "
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./local_secrets:/app/local_secrets:ro
    
volumes:
  static_volume:
  media_volume:
  local_secrets:
  logs:
